<h1>Trainers</h1>

<table style="width:100%">
  <tr>
    <th>Brand</th>
    <th>Name</th>
    <th>Description</th>
    <th>Quantity</th>
    <th>Buy Cost</th>
    <th>Sell Cost</th>
    <th>Markup per item</th>
    <th>View Trainers</th>
  </tr>
  <% for trainer in @trainers %>
  <tr>
    <td><%= trainer.brand.name%></td>
    <td><%= trainer.trainer_name %></td>
    <td><%= trainer.description %></td>
    <td><%= trainer.quantity %></td>
    <td><%= trainer.format_buy_cost %></td>
    <td><%= trainer.format_sell_price %></td>
    <td><%= trainer.markup %></td>
    <td><a href="/trainers/<%= trainer.id %>">View</a></td>
  </tr>
  <% end %>

</table>
