<p>Brand: <%= @brand.name %></p>
<hr>
<% for trainer in @brand.trainers %>
<p>Trainer Name: <%= trainer.trainer_name %></p>
<p>Description: <%= trainer.description %></p>
<hr>
<% end %>

<p><a href="/brands/<%= @brand.id %>/edit">Edit</a></p>

<form action="/brands/<%= @brand.id %>/delete" method="post">
  <input type="submit" value="Delete">
</form>
